<footer class="py-8 bg-slate-200 dark:bg-slate-800">
    <div class="container">
        <div class="row">
            <div class="col-md-4 footer-column">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <span class="uppercase font-bold text-gray-600 dark:text-white">My Skills</span>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link">.NET</span>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link">Angular</span>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link">SQL</span>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link">SOLID</span>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 footer-column">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <span class="uppercase font-bold text-gray-600 dark:text-white">Navigate</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/portfolio">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Resume</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 footer-column">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <span class="uppercase font-bold text-gray-600 dark:text-white">Contact</span>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link"><fa-icon [icon]="faPhone" style="color:rgb(47, 47, 205)"></fa-icon> +504 95168039</span>
                    </li>
                    <li class="nav-item hidden">
                        <a class="nav-link" href="#"><fa-icon [icon]="faComments" style="color:rgb(47, 47, 205)"></fa-icon> Live chat</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><fa-icon [icon]="faEnvelope" style="color:rgb(47, 47, 205)"></fa-icon> nrodriguezalcantara&#64;gmail.com</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><fa-icon [icon]="faMapMarker" style="color:rgb(47, 47, 205)"></fa-icon> San Pedro Sula, HN</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="text-center"><fa-icon [icon]="faEllipsis" style="color:rgb(47, 47, 205)"></fa-icon></div>

        <div class="row text-center">
                <ul class="list-inline social-buttons">
                    <li class="list-inline-item">
                        <a href="#" class="bg-slate-700 dark:bg-slate-600">
                            <fa-icon [icon]="faLinkedin" style="color:white"></fa-icon>
                        </a>
                    </li>
                </ul>
        </div>
    </div>
</footer>