.tag {
    background-color: #EEF;
    border-radius: 6px; 
    padding: 2px 5px;
    display: inline;
    font-size: 12px;
    margin: 1px;
}

.carousel-control-prev-icon {
    fill: #8C8A8A
  }
  
  .carousel-control-next-icon {
    color: #8C8A8A; 
  }

.carousel-caption {
    position: relative;
    left: 0;
    top: 0;
}

@media only screen and (max-width: 576px) {
    .carousel-caption {
        h5 {
            font-size: 1rem;
        }
    }
}