<div class="container mx-auto px-4">
    <div class="container text-center">
        <div class="row">
          <div class="col flex justify-center">
            <img style="height: 23em;" class="rounded-full ring ring-pink-500 ring-offset-4 shadow-2xl shadow-pink-500/50" src="/assets/home/me-photo12.png"/>
          </div>
          <div class="col" style="align-content: center; display: inline-grid;">
            <div class="flex justify-center -space-x-16">
                <div class="dot rounded-full mix-blend-darken dark:mix-blend-lighten bg-blue-400"></div>
                <div class="dot rounded-full mix-blend-darken dark:mix-blend-lighten bg-pink-400"></div>
                <div class="dot rounded-full mix-blend-darken dark:mix-blend-lighten bg-blue-400"></div>
                <div class="dot rounded-full mix-blend-darken dark:mix-blend-lighten bg-pink-400"></div>
            </div>
                
            <div class="text-5xl font-extrabold ...">
                <span class="bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500">
                  Hello!
                </span>
            </div>
            <div class="mt-4 dark:text-slate-500 tracking-wide">
                <h6>I'm a Computer Systems Engineering graduate...</h6>
                <p class="text-justify">With experience in desktop & web development and in AI researching. I specialize in software development with <b>C#, .NET, and Angular</b>. Covering a wide range of projects from web applications and sites to desktop apps, 
                    assisting with both frontend and backend aspects. I am eager to contribute in teams, improving the technological field, and tackling new challenges. Developing software with good practices such as scalability, 
                    efficiency, portability, and maintainability is just the start.The world is yearning for a future with reliable systems, more technological advances, and research and development of new solutions for legacy bugs.</p>
            </div>
          </div>
        </div>
      </div>
</div>