<app-header></app-header>
<!-- Navbar -->
<nav class="absolute inset-x-0 top-0 z-50 flex items-center justify-between p-6 lg:px-8">
  <div class="flex lg:flex-1">
  </div>
  <!-- Mobile menu button -->
  <div class="flex flex-1 justify-start lg:hidden" *ngIf="!menuOpen">
    <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700 dark:text-white transition-transform hover:scale-125" 
      (click)="toggleMobileMenu()">
      <span class="sr-only">Open menu</span>
      <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
      </svg>
    </button>
  </div>

  <!-- Normal screen menu -->
  <div class="hidden lg:flex lg:gap-x-12">
    <a routerLink="/" class="text-sm font-semibold hover:font-bold leading-6 text-gray-800 hover:text-black dark:text-slate-300 dark:hover:text-white">Home</a>
    <a [routerLink]="['/portfolio']" class="text-sm font-semibold hover:font-bold leading-6 text-gray-800 hover:text-black dark:text-slate-300 dark:hover:text-white">Portfolio</a>
    <a routerLink="/resume" class="text-sm font-semibold hover:font-bold leading-6 text-gray-800 hover:text-black dark:text-slate-300 dark:hover:text-white">Resume</a>
    <a routerLink="/" class="text-sm font-semibold hover:font-bold leading-6 text-gray-800 hover:text-black dark:text-slate-300 dark:hover:text-white">Contact</a>
  </div>
  <div class="flex flex-1 justify-end">
    <button (click)="darkMode.set(!darkMode())" class="flex transition-transform hover:scale-125 align-middle">
        <span *ngIf="!darkMode()" class="material-icons">dark_mode</span>
        <span *ngIf="darkMode()" class="material-icons text-white">light_mode</span>
    </button>
  </div>

  <!-- Mobile menu, show/hide based on menu open state. -->
  <div *ngIf="menuOpen" class="lg:hidden" role="dialog" aria-modal="true">
    <div class="fixed inset-y-0 left-0 z-50 w-full overflow-y-auto bg-slate-200 dark:bg-slate-800
          px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
      <div class="flex">
        <button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700 dark:text-white transition-transform hover:scale-125" (click)="toggleMobileMenu()">
          <span class="sr-only">Close menu</span>
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="mt-6 flow-root">
        <div class="-my-6 divide-y divide-gray-500/10">
          <div class="space-y-2 py-6">
            <a routerLink="/" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 dark:text-white hover:bg-gray-300 dark:hover:bg-gray-600">Home</a>
            <a routerLink="/portfolio" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 dark:text-white hover:bg-gray-300 dark:hover:bg-gray-600">Portfolio</a>
            <a routerLink="/resume" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 dark:text-white hover:bg-gray-300 dark:hover:bg-gray-600">Resume</a>
            <a routerLink="/" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 dark:text-white hover:bg-gray-300 dark:hover:bg-gray-600">Contact</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
  
<div class="p-8 dark:bg-slate-900">
  <router-outlet></router-outlet>
</div>

<app-footer></app-footer>