<!-- <router-outlet></router-outlet> -->
<!-- <div class="min-h-screen min-w-full bg-slate-200 dark:bg-slate-700">
  <div class="flex justify-between items-center bg-teal-600 text-white dark:bg-slate-900 p-5 font-semibold text-lg shadow-lg">
    Dark mode with Angular and TailwindCSS
    <button (click)="darkMode.set(!darkMode())" class="flex transition-transform hover:scale-125 align-middle">
      <span *ngIf="!darkMode()" class="material-icons">dark_mode</span>
      <span *ngIf="darkMode()" class="material-icons">light_mode</span>
    </button>
  </div>
</div> -->
<app-header></app-header>